.query-input {
  appearance: none;
  background-color: #dedede;
  border: 2px solid #dedede;
  border-radius: 0.25em;
  font-weight: bolder;
  height: 27.5px !important;
}

#filters {
  grid-area: filters;

  height: 100%;
  width: 120px;

  position: relative;
  display: flex;

  justify-content: center;
  flex-direction: row;
}

#filters > button {
  height: 50%;
  width: 90px;
  align-self: center;
}

#filter-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  appearance: none;
}

#filter-button:hover {
  cursor: pointer;
}

#filter-button:active {
  background-color: grey;
}

#filter-icon {
  margin-left: 5px;
}

#filter-content {
  display: none;

  /*opens directly under*/
  position: absolute;
  top: 73%; /*content opens under filter div -> button takes
                  up 50% of filter height and is aligned in center
                  -> 50/2 = 25% to be directly under button. +2% to cover rounded edge*/
  width: 75%;

  grid-template-columns: 1fr;
  grid-auto-rows: min-content;
}
