.hidden {
  display: none !important;
}

#popup-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: grey;
  opacity: 0.5;
  z-index: 999;
}

#popup {
  /*center popup in page*/
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  z-index: 1000;
}

#popup-card {
  display: grid;
  grid-template-areas:
    'selector . close'
    '. . .'
    'card card card';
  grid-template-columns: 100px 100px 102px;
  grid-template-rows: 20px 5px 300px;
}

#wc-selector {
  grid-area: selector;
  width: max-content;

  border: 2px solid purple;
  background-color: rgb(192, 65, 192);
  color: white;
}

#close-button {
  grid-area: close;
  width: 50%;
  justify-self: right;

  border: 2px solid purple;

  background-color: rgb(192, 65, 192);
  color: white;
  font-weight: bolder;

  transition: all 0.15s ease-out;
}

#close-button:hover {
  background-color: red;
  border: 2px solid black;
}

#player-card {
  grid-area: card;
}

#popup-card {
  display: grid;
  grid-template-areas:
    'selector . close'
    '. . .'
    'card card card';
  grid-template-columns: 100px 100px 102px;
  grid-template-rows: 20px 5px 300px;
}

#wc-selector {
  grid-area: selector;
  width: max-content;

  border: 2px solid purple;
  background-color: rgb(192, 65, 192);
  color: white;
}

#close-button {
  grid-area: close;
  width: 50%;
  justify-self: right;

  border: 2px solid purple;

  background-color: rgb(192, 65, 192);
  color: white;
  font-weight: bolder;

  transition: all 0.15s ease-out;
}

#close-button:hover {
  background-color: red;
  border: 2px solid black;
}

#player-card {
  grid-area: card;
}

#front{
  border: 1px solid black;

  height: 300px;
  width: 300px;

  background-color: #37568f;

  display: grid;
  align-items: center;
  grid-template-columns: 150px 150px;
  grid-template-rows: 125px 2fr 1fr;
  grid-template-areas:
    'info   head  '
    'stats  stats'
    'button button';
}

#back {
  border: 1px solid black;

  height: 300px;
  width: 300px;

  background-color: #37568f;

  display: grid;
  align-items: center;
  grid-template-columns: 150px 150px;
  grid-template-rows: 125px 2fr 1fr;
  grid-template-areas:
    'info   info  '
    'info  info'
    'button button';
}

#flip-button {
  grid-area: button;
  width: 50px;
  height: 35px;
  text-align: center;
  align-items: center;
  justify-self: center;
  background-color: rgb(192, 65, 192);
  border: 2px solid purple;
  color: white;
}

#front #headshot {
  grid-area: head;
  background-color: white;
  border: 2px solid white;
  justify-self: center;
  height: 105px;
  width: 115px;
}

#front #player-info {
  grid-area: info;
  display: grid;
  grid-template-areas:
    'rating'
    'stars'
    'pos'
    'flag'
    'country';
  grid-template-rows: 20px 20px 20px 20px 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#front #player-stats {
  grid-area: stats;

  display: grid;
  grid-template-areas:
    'name name'
    'table1 table2';
  grid-template-rows: 20px auto;

  margin: 15px;
  border: 2px solid black;
  background-color: rgb(255, 255, 255);
  height: 100%;

  align-items: center;

  /*table stays within allotted grid space*/
  overflow: hidden;
}

#player-info > #flag {
  grid-area: flag;
  height: 100%;
  width: 20px;
  justify-self: center;
}

#player-stats > #player-name {
  grid-area: name;
  height: 100%;
  text-align: center;
}

#player-stats > .stat-table {
  padding: 0; /*remove ul>li indent*/
  list-style: none /*remove bullet points for list items*/;
}

#player-stats > #stat-table-one {
  grid-area: table1;
}

#player-stats > #stat-table-two {
  grid-area: table2;
}

#blurb {
    grid-area: info;
    text-align: center;
    color: white;
    font-weight: bolder;
    padding-left: 10px;
    padding-right: 10px;
}